coverage
dataset
decorator
doit
enum34
fabric
flake8
mock
myst-parser
paho-mqtt==1.6.1
protobuf
pymodbus
pyodbc
pytest
pytest-cov
pytest-snapshot
python-dotenv
pytz
pyyaml
recommonmark
requests
six
sphinx_rtd_theme
sphinx
sphinxcontrib-httpdomain
SQLAlchemy
tox
tox-conda
treelib
tzdata